html {
    height: 100%;
    box-sizing: border-box;
}

/* Page */
body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    padding-top: 6rem;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
    flex: 1 0 auto;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #24292E;
    color: snow;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 5px;
}

a {
    color: snow;
}

.center {
    text-align: center; 
}

/* Buttons */

.btn {
    margin: 5px;
    text-align: center;
}

.btn:hover {
    background-color:blue;
    color: white;
}